@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1240px;
    max-width: 1440px;
    margin: auto;
}
.header {
    width: 1240px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.header_name {
    display: flex;
    color: #FF6060;
    font-size: 30px;
}

.header_name svg {
    height: 50px;
}

.header_menu_list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-right: 30px;
    padding: 0;
}
.header_menu_list li {
    margin-left: 80px;
}
.header_menu_list li a {
    text-decoration: none;
    color: #FF6060;
    font-size: 20px;
}
.header_menu_list li a:hover {
    color: #FF6060;
    text-decoration: underline;
}
.main-bg {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    max-width: 1240px;
    height : 223px;
    /* Darken blend*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    background-image: url("http://localhost:3000/images/BackgroundHome.png");
}

.about-banner {
    max-width: 1240px;
    height: 223px;
    background-image: url("http://localhost:3000/images/BackgroundAbout.png");
    border-radius: 20px;
}

.about-banner-filter {
    max-width: 1240px;
    height: 223px;
    background-color: #000000;
    border-radius: 20px;
    opacity: 0.3;
}

.main-bg-text {
    color: white;
    max-width: 1240px;
    background-color: #000000;
    opacity: 0.5;
    height: 223px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bg h1 {
    color: white;
    width: 1240px;
    height: 223px;
    position: absolute;
    right: 0;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.tag {
    height: 25px;
    background-color: #FF6060;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tag p {
    white-space: nowrap;
}


.thumbnail {
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.thumbnail p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 18px;
    width: 90%;
}

.thumbnail img {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: 100%;
    /* Cover */
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
}

.pagescroller {
    width: 582px;
    position: relative;
}

.pagescroller_name {
    width: 532px;
    background-color: #FF6060;
    border: none;
    height: 52px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 10;
}

.pagescroller_options, .pagescroller_text {
    position: relative;
    margin-top: -10px;
    background-color: #F6F6F6;
    width: 582px;
    z-index: -1;
    border-radius: 10px;
}

.pagescroller_options_list {
    margin: 0;
    padding: 25px;
    display: block;
    list-style-type: none;
}

.pagescroller_options_list li {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #FF6060;
    font-size: 18px;
}

.pagescroller_text p {
    color: #FF6060;
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 25px;
}

.aboutscroller {
    width: 1023px;
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.aboutscroller_name {
    width: 973px;
    background-color: #FF6060;
    border: none;
    height: 52px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 10;
    font-size: 24px;
}

.aboutscroller_text {
    border-radius: 15px;
    position: relative;
    margin-top: -10px;
    background-color: #F6F6F6;
    width: 1023px;
    z-index: -1;
}

.aboutscroller_text p {
    border-radius: 5px;
    color: #FF6060;
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    word-wrap: break-word;
}

.display-buildings {
    max-width: 1240px;
    margin-top: 30px;
    background-color: #F6F6F6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

footer {
    margin-top: 30px;
    background-color: black;
    color: white;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.tag_list {
    display: flex;
}

.building_title {
    color: #FF6060;
    font-size: 30px;
    font-weight: 100;
    max-width: 600px;
}

.building_location {
    color: #FF6060;
    font-weight: 100;
}

.building_informations {
    display: flex;
    justify-content: space-between;
    width: 1220px;
}
.informations_people {
    display : flex;
}

.informations_people p {
    margin-right: 10px;
    text-align: right;
    width: 90px;
    color: #FF6060;
    font-weight: 100;
}

.informations_people img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.building_informations_right {
    margin-top: 10px;
    display: flex;
    align-items:flex-end ;
    flex-direction: column;
    width: 100%;
}

.informations_stars {
    margin-top: 30px;
    display: flex;
}

.informations_stars img {
    margin-left: 10px;
}

.building_description {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.caroussel {
    background-color: #FF6060;
    width: 1240px;
    height: 415px;
    border-radius: 45px;
    position: relative;
    object-fit: cover;
}

.car-right {
    position: absolute;
    right: 15px;
    top: 45%;
}

.car-right svg {
    width: 50px;
    height: 50px;
    fill: white;
}

.car-left svg {
    width: 50px;
    height: 50px;
    fill: white;
}

.car-left {
    position: absolute;
    left: 15px;
    top: 45%;
}

.car-img {
    width: 1240px;
    height: 415px;
    border-radius: 45px;
}

.car-middle {
    position: absolute;
    bottom: 25px;
    font-size: 18px;
    left: 50%;
    color: #F6F6F6;
}

.car-img img {
    width: 1240px;
    height: 415px;
    border-radius: 45px;
    object-fit: cover;
}

.error {
    color: #FF6060;
    width: 1240px;
}

.error h1 {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    font-size : 288px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom:0;
}

.error p {
    font-size: 36px;
    font-weight: 500;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.error a {
    display: block;
    width: 300px;
    color: #FF6060;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-top: 200px;
    font-weight: 500;
}


@media screen and (max-width: 1240px) {
    .container {
        width: 95%;
    }
    .header {
        width: 100%;
    }
    .header_menu_list {
        margin-right: 10px;
    }

    .header_menu_list li {
        margin-left: 20px;
    }

    .header_menu_list li a {
        font-size: 15px;
        /*Caps*/
        text-transform: uppercase;
    }

    .display-buildings {
        max-width: 100%;
        background-color: transparent;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .thumbnail {
        margin-left: auto;
        margin-right: auto;
    }

    .main-bg {
        width: 100%;
        height: 223px;
        background-size: cover;
    }

    .main-bg h1 {
        width: 100%;
        top: 40%;
        font-size: 20px;
    }

    .main-bg-text {
        width: 100%;
        height: 100%;
        background-size: contain;
    }

    .caroussel {
        width: 100%;
        height: 415px;
        border-radius: 45px;
        position: relative;
        object-fit: cover;
    }

    .car-img {
        width: 100%;
        height: 415px;
        border-radius: 45px;
        object-fit: cover;
    }

    .car-img img {
        width: 100%;
        height: 415px;
        border-radius: 45px;
        object-fit: cover;
    }

    .building_informations {
        width: 100%;
    }

    .building_description {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .error {
        width: 100%;
    }

    .error h1 {
        font-size : 188px;
    }

    .error p {
        text-align: center;
        font-size: 24px;
        width: 100%;
    }
}

@media screen and (max-width: 1040px) {
    .aboutscroller {
        width: 100%;
    }

    .aboutscroller_name {
        width: 100%;
        padding: 0;
    }

    .aboutscroller_name p{
        padding-left: 20px;
        font-size: 17px;
    }

    .aboutscroller_name img {
        padding-right: 20px;
    }

    .aboutscroller_text {
        width: 100%;
    }

    .aboutscroller_text p {
        font-size: 18px;
    }
}

@media screen and (max-width : 820px) {

    .caroussel {
        height: 300px;
        border-radius: 10px;
    }

    .car-img {
        height: 300px;
        border-radius: 10px;
    }

    .car-img img {
        height: 300px;
        border-radius: 10px;
    }

    .building_informations {
        flex-direction: column;
    }
    .building_informations_right {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .informations_stars {
        margin-top: 0px;
    }

    .tag {
        height: 22px;
        border-radius: 5px;
        min-width: 90px;
    }

    .tag p {
        font-size: 12px;
    }

    .informations_stars img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 719px) {
    .display-buildings {
        max-width: 100%;
        margin-top: 0px;
        background-color: transparent;
        border-radius: 25px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .error h1 {
        font-size : 128px;
        margin-top: 50px;
    }

    .error p {
        font-size: 18px;
        width: 100%;
    }

    .error a {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 630px) {
    .pagescroller {
        width: 100%;
        margin-bottom: 20px;
    }

    .pagescroller_name {
        width: 100%;
        padding: 0;
        height: 30px;
        border-radius: 5px;
    }

    .pagescroller_name p {
        padding-left: 20px;
        font-size: 13px;
    }

    .pagescroller_name img {
        padding-right: 20px;
        height: 12px;
    }

    .pagescroller_options {
        width:100%;
    }

    .pagescroller_text {
        width: 100%;
    }

    .pagescroller_text p {
        font-size: 15px;
    }

    .pagescroller_options_list li {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .header svg {
        width: 120px;
    }

    .main-bg {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
        height : 111px;
        /* Darken blend*/
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        background-image: url("http://localhost:3000/images/BackgroundHome.png");
        
    }
    .main-bg-text {
        margin-left: auto;
        margin-right: auto;
        color: white;
        width: 100%;
        background-color: #000000;
        opacity: 0.5;
        height: 111px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-bg h1 {
        color: white;
        width: 60%;
        height: 111px;
        position: absolute;
        left: 0;
        top: 20%;
        margin-left: 20px;
        margin-right: 0;
        text-align: left;
        font-size: 20px;
        font-weight: 100;
    }
    .display-buildings {
        max-width: 100%;
        margin-top: 0px;
        background-color: transparent;
        border-radius: 25px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .thumbnail {
        width: 100%;
        height: 255px;
        margin-top: 20px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .caroussel {
        background-color: #FF6060;
        width: 100%;
        height: 255px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .car-right {
        position: absolute;
        right: 15px;
        top: 45%;
    }
    
    .car-left {
        position: absolute;
        left: 15px;
        top: 45%;
    }
    
    .car-img {
        width: 100%;
        height: 255px;
        border-radius: 10px;
    }
    
    .car-img img {
        width: 100%;
        height: 255px;
        border-radius: 10px;
        object-fit: cover;
    }
    .building_informations {
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: space-between;
        width: 100%;
    }
    .building_informations_left {
        width: 100%;
    }

    .building_informations_right {
        margin-top: 0px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }

    .informations_stars {
        margin-top: 20px;
        display: flex;
    }
    
    .informations_stars img {
        margin-left: 0px;
        margin-right: 5px;
        width: 18px;
    }

    .informations_people {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .informations_people p {
        text-align: right;
        width: 90px;
        color: #FF6060;
        font-weight: 100;
        font-size: 13px;
    }

    .informations_people img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }

    .building_title {
        font-size: 20px;
        max-width: 100%;
    }

    .building_location {
        font-size: 15px;
    }
    .tag {
        height: 18px;
        background-color: #FF6060;
        min-width: 90px;
        font-size: 10px;
        border-radius: 5px;
        margin-right: 10px;
        font-weight: 100;
        padding-right: 8px;
        padding-left: 8px;
    }

    .tag p {
        font-size: 10px;
    }

    .building_description {
        display: block;
    }

    .header_menu_list li a {
        font-size: 13px;
    }

    .aboutscroller_name {
        height: 35px;
        border-radius: 5px;
    }

    .aboutscroller_name p {
        padding-left: 20px;
        font-size: 15px;
    }

    .aboutscroller_name img {
        padding-right: 20px;
        height: 13px;
    }

    .aboutscroller_text p {
        font-size: 15px;
        line-height: 25px;
    }

    .error h1 {
        margin-top: 100px;
        font-size: 96px;
    }

    .error p {
        font-size: 18px;
        width: 100%;
        max-width: 260px;
    }

    .error a {
        margin-bottom: 100px;
    }

    .about-banner {
        background-position: center;
        background-size: auto;
    }
}